body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(120deg, #f6f9fc, #e0f7fa);
    background-image: url("Images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin: 0;
    padding: 40px;
}

.form-container {
    max-width: 650px;
    margin: auto;
    padding: 30px 40px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.2); 
    color: #fff; 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

form label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
    color: black;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="password"],
select {
    width: 100%;
    padding: 10px 12px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 15px;
    transition: border 0.3s;
}

input:focus, select:focus {
    border-color: #3f0a9b ;
    outline: none;
}
input, select, textarea {
  background-color: rgba(255, 255, 255, 0.2);  
  border: 1px solid rgba(255, 255, 255, 0.4);                             
  padding: 10px;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
}

input::placeholder, textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);            
}


.gender,
.checkbox-group {
    margin-top: 8px;
    padding: 5px 0;
}

.gender label,
.checkbox-group label {
    display: inline-block;
    margin-right: 20px;
    font-weight: normal;
}

button {
    margin-top: 25px;
    width: 100%;
    padding: 12px;
    background: #3f0a9b ;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: white;
    color: black;
}

input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5); 
  background-color: transparent;
  cursor: pointer;
  border-radius: 0; 
  position: relative;
  vertical-align: middle;
  margin-right: 8px;
}


input[type="radio"] {
  border-radius: 50%;
}


input[type="checkbox"]:checked {
  background-color: rgba(255, 255, 255, 0.7); 
  border-color: rgba(255, 255, 255, 0.7);
}


input[type="radio"]:checked {
  background-color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7);
}

input[type="radio"]:checked::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
}

